@import url("style/header.css");
@import url("style/banner.css");
@import url("style/carrossel.css");
.root{
     --cor-de-fundo: #ebecee;
     --branco: #FFFFFF;
     --laranja: #eb9b00;
     --azul-degrade: linear-gradient (97.54deg, #002F52 35.49%, #326589 165.37%);
     --fonte-principal: "poppins"
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}